.gallery-container {
  top: 90vh;
  margin: 40px auto;
  position: relative;
  width: 90%;
}

.gallery-container h2 {
  margin: 5px;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.gallery-container .section-details {
  margin: 5px;
  font-weight: 200;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 5.5rem;
}

.places-container {
  margin: 0;
}

.a-plus {
  margin: 5px;
  margin-top: 2rem;
  height: 18rem;
  border-radius: 4px;
  background: url("../images/kelsey-curtis--27u_GzlAFw-unsplash.jpg") 15% 75%;
  background-size: cover;
  margin-bottom: 4.5rem;
}

h6 {
  font-size: 0.8rem;
}