* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: hsl(0, 1%, 25%);
}

body {
  background: hsl(208, 100%, 97%);
  /* background: hsl(208, 65%, 43%); */
}

.btn {
  height: 3rem;
  width: 100px;
  background: hsl(0, 81%, 62%);
  border-radius: 3.5px;
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: aliceblue;
  font-size: .9em;
  letter-spacing: 0.6px;
}

.header {
  height: 5rem;
  /* background: hsla(0, 0%, 0%, 0.0); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  position: relative;
  left: 1.75%;
  font-size: 2.2rem;
  color: aliceblue;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  /* font-weight: 800; */
  margin-right: 3rem;
}

.header ul li {
  color: rgb(20, 20, 20);
  color: aliceblue;
  display: inline;
  text-decoration: none;
  font-size: 0.9rem;
}

.hero-img {
  position: absolute;
  top: 0px;
  /* background: url("./roadcanyon.jpeg") center; */
  /* background: url("./paul-gilmore-PjpuXmX7DAA-unsplash.jpg") top; */
  background: url("./matthew-smith-rFBA42UFpLs-unsplash.jpg") top;
  /* background: url("./boatmountain.jpeg") center; */
  /* background: url("./Screen\ Shot\ 2020-02-13\ at\ 5.12.00\ PM.png") center; */
  background-size: cover;
  /* filter: saturate(30%); */
  height: 100%;
  width: 100%;
  z-index: -1;
}

.cta-card {
  position: absolute;
  top: 15.5%;
  left: 5.5%;
  width: 30%;
  min-width: 440px;
  height: 63%;
  min-height: 482px;
  background: hsl(210, 100%, 99%);
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 1px 2px 4px #808080c2;
}

.cta-card h1 {
  margin-bottom: 1rem;
  font-size: 1.85rem;
}

.cta-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.cta-block label {
  font-size: 0.7rem;
  font-weight: 800;
  letter-spacing: 0.12rem;
}

.cta-block input {
  height: 50px;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 1.5px;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 200;
}

.cta-block input:focus {
  outline: none;
  border: 1.3px solid hsl(143, 92%, 28%)
}

.check-in-out {
  display: flex;
  flex-direction: row;
}

.check-in-out input {
  width: 100%
}

.check-in {
  display: flex;
  flex-direction: column;
}

.check-out {
  display: flex;
  flex-direction: column;
}

.check-in input {
  border-right: none;
}

.cta-btn {
  position: relative;
  top: 3px;
  left: 74%;
}

.tagline {
  position: absolute;
  right: 1.6%;
  bottom: 3%;
}

.tagline p {
  color: hsl(0, 0%, 97%);
  font-size: 0.89rem;
  text-align: right;
  line-height: 1.4rem;
  letter-spacing: 0.01rem;
}

.gallery-container {
  top: 90vh;
  margin: 40px auto;
  position: relative;
  width: 89%;
}

.gallery-container h2 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.gallery-container > h2:first-of-type {
  margin-bottom: 1rem;
}

.gallery-container p {
  font-weight: 200;
}

.explore-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5.5rem;
}

.explore-card {
  position: relative;
  display: flex;
  border-radius: 0.6rem;
  width: 32.5%;
  height: 5.5rem;
  overflow: hidden;
  box-shadow: 3px 2px 9px 0px #d8d8d8;
}

.explore-card img {
  height: 100%;
}

.explore-card-title {
  margin-bottom: 30rem;
  margin: 2.2rem 1.5rem;
}

.a-plus {
  margin-top: 2rem;
  height: 18rem;
  border: 1px solid black;
  border-radius: 4px;
}