* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: hsl(208, 100%, 97%);
  /* background: hsl(208, 65%, 43%); */
}

.main {
  border: 2px solid black;
  border-radius: 16px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem;
}

button { padding: 0.3rem }

.card-list {
  width: 100%;
  height: 300px;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

.card {
  margin: 1rem;
  background: hsl(200, 33%, 98%);
  border: 1px solid #ddd;
  width: 30%;
  box-shadow: 2px 2px 8px hsla(0, 0%, 5%, 0.05)
}

.card-head {
  position: relative;
  height: 50%;
  overflow: hidden;
}

.card-body {
  padding: 1rem;
}

.card-img {
  position: relative;
  top: -120px;
  width: 110%;
}